@media(min-width: 1024px){	
	.sve-container{
		width: 80%;
		padding-top: 3%;
		padding-bottom: 3%;
		margin: 0 auto;
	}

	.prvi-red{
		vertical-align: top;
		width: 49%;
		display: inline-block;
		padding: 1%;
		border-right: 1px solid #efefef;
	}

	.vtori-red{
		margin-top: 1%;
		width: 49%;
		display: inline-block;
	}

	.main-image img{
		width: 100%;
		/*box-shadow: 1px 1px 20px black;*/
		box-shadow: -0.5px 0.5px 3px black;
	}

	.main-image-holder{
		width: 100%;
	}

	.main-image-holder img{
		width: 100%;
	}

	.item-row{
		margin-top: 2%;
		width: 100%;
	}

	.ustvari-item{
		width: 25%;
		/*padding: 1%;*/
		display: inline-block;
	}

	.ustvari-stvarno-item{
		margin: 0 auto;
		width: 95%;
	}

	.ustvari-item img{
		width: 100%;
		box-shadow: -0.5px 0.5px 5px black;
	}

	.item-row-holder{
		width: 99%;
		margin: 0 auto;
	}

	.item-description{
		color: #5e5e5e;
	}

	.item-description ul{
		padding-top: 3%;
		list-style: none;
	}

	.related-block{
		width: 100%;
	}

}

@media(max-width: 1023px) and (min-width: 768px){
	.sve-container{
		width: 80%;
		padding-top: 3%;
		padding-bottom: 3%;
		margin: 0 auto;
	}

	.prvi-red{
		vertical-align: top;
		width: 100%;
		display: inline-block;
		padding: 1%;
		border-right: 1px solid #efefef;
	}

	.vtori-red{
		margin-top: 1%;
		width: 100%;
		display: inline-block;
	}


	.main-image{
		width: 100%;
	}

	.main-image-holder{
		width: 100%;
	}

	.main-image-holder img{
		width: 100%;
	}

	.item-row{
		margin-top: 2%;
		width: 100%;
	}

	.ustvari-item{
		width: 24%;
		/*padding: 1%;*/
		display: inline-block;
	}

	.ustvari-stvarno-item{
		margin: 0 auto;
		width: 95%;
	}

	.ustvari-item img{
		width: 100%;
	}

	.item-description{
		color: #5e5e5e;
	}

	.item-description ul{
		/*padding-top: 3%;*/
		list-style: none;
	}
}

@media(max-width: 767px){
	.sve-container{
		width: 90%;
		padding-top: 3%;
		padding-bottom: 3%;
		margin: 0 auto;
	}

	.prvi-red{
		vertical-align: top;
		width: 100%;
		display: inline-block;
		padding: 1%;
		border-right: 1px solid #efefef;
	}

	.vtori-red{
		margin-top: 1%;
		width: 100%;
		display: inline-block;
	}


	.main-image{
		width: 100%;
	}

	.main-image-holder{
		width: 100%;
	}

	.main-image-holder img{
		width: 100%;
	}

	.prvi-red h1{
		font-size: 1em;
	}

	.item-description p{
		font-size: 1em;
	}

	.item-row{
		margin-top: 2%;
		width: 100%;
	}

	.related-block{
		text-transform: uppercase;;
		color: #5e5e5e;
	}

	.ustvari-item{
		width: 24%;
		/*padding: 1%;*/
		display: inline-block;
	}

	.ustvari-stvarno-item{
		margin: 0 auto;
		width: 95%;
	}

	.ustvari-item img{
		width: 100%;
	}

	.item-description{
		color: #5e5e5e;
	}

	.item-description ul{
		/*padding-top: 3%;*/
		list-style: none;
	}
}